<div class="popup popup--download">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="popup__wrapper">
      <h2 class="popup__title">Скачать каталог продукции</h2>
      <div class="popup__text">
        <p>
          Заполните данные для открытия ссылки на скачивания каталога продукции
        </p>
      </div>

      <form class="form-delivery">
        <label class="form-delivery__group">
          <input class="form-delivery__input" type="text" placeholder="Имя" />
        </label>
        <label class="form-delivery__group">
          <input
            class="form-delivery__input"
            type="tel"
            placeholder="+7 (999) 999 - 99 - 99"
          />
        </label>
        <label class="form-delivery__group">
          <input
            class="form-delivery__input"
            type="text"
            placeholder="E-mail"
          />
        </label>

        <label class="checkbox checkbox--dark">
          <input class="checkbox__input" type="checkbox" />
          <span class="checkbox__box"></span>
          <span class="checkbox__text">
            Нажимая на кнопку отправить я соглашаюсь с
            <a href="#"> политикой конфиденциальности</a>
          </span>
        </label>

        <button class="form-delivery__btn btn btn--no-shadow" type="button">
          Получить ссылку
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--link">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <div class="popup__text">
        <a href="#">https://disk.yandex.ru/ссылка для скачивания</a>
      </div>
    </div>
  </div>
</div>
