.form-submit {
  width: 100%;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 40px;
      @include adaptive-value('margin-bottom', 40, 30, 1);
    }
  }

  &__label {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    color: #f9f9f9;
  }

  &__input {
    width: 100%;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 15px;
    color: var(--color-white);
    outline: transparent;

    &:focus {
      border-bottom: 1px solid var(--color-white);
    }

    &::placeholder {
      color: #b8e095;
    }
  }

  .checkbox {
    margin-bottom: 30px;
  }

  &__btn {
    width: 100%;
    text-shadow: none;

    @include breakpointsMaxW($bp-768) {
      font-size: 18px;
      padding: 23px;
    }
  }
}
