.header {
  transition: 200ms ease;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--color-white);
  &.scroll-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--color-white);

    .header {
      &__bottom {
        display: none;
      }

      &__toggle {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 350ms ease-in;
        background-color: var(--color-accent);
        position: relative;
        border-radius: 5px;

        &::after {
          @include elDef();
          width: 20px;
          height: 15px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include maskImage(url('../images/icons/menu-icon.svg'), contain);
          background-color: var(--color-white);
        }

        @include breakpointsMaxW($bp-991) {
          background-color: transparent;
          width: 20px;
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__toggle {
    display: none;

    @include breakpointsMaxW($bp-991) {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 350ms ease-in;

      @include breakpointsMaxW($bp-991) {
        order: -1;
      }

      &-line {
        border-radius: 3px;
        width: 100%;
        height: 1px;
        background-color: var(--color-dark);
        position: relative;
        transition: 150ms ease-in;

        &::after,
        &::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: inherit;
          transition: 450ms ease-in;
          border-radius: 3px;
        }

        &::after {
          top: -5px;
        }

        &::before {
          bottom: -5px;
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__logo {
    @include breakpointsMaxW($bp-container) {
      width: calc(100px + (175 - 100) * ((100vw - 991px) / (1270 - 991)));
      height: auto;
    }

    @include breakpointsMaxW($bp-991) {
      width: 125px;
      height: 20px;
    }

    @include breakpointsMaxW($bp-768) {
      width: 105px;
      height: 15px;
    }
  }

  &__top {
    transition: 200ms ease;

    border-bottom: 1px solid #edf2f4;
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      gap: 13px;

      @include breakpointsMaxW($bp-991) {
        padding: 15px 0 10px;
      }
    }
  }

  &__bottom {
    transition: 200ms ease;

    .btn--light {
      display: none;

      @include breakpointsMaxW($bp-991) {
        display: block;
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      gap: 13px;

      @include breakpointsMaxW($bp-991) {
        padding: 8px 0;
      }
    }

    @include breakpointsMaxW($bp-991) {
      // display: none;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 14px;

    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }

  &__btn {
    @include breakpointsMaxW($bp-container) {
      padding: 14px 15px;
    }

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__cart,
  &__search {
    width: 37px;
    height: 37px;
    background-color: var(--color-white);
    border: 1px solid #dfeed1;
    border-radius: 50%;
    position: relative;
    transition: 200ms ease;
    flex-shrink: 0;

    &::after {
      @include elDef();
      width: 15px;
      height: 15px;
      background-color: var(--color-dark);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 200ms ease;
    }

    &:hover {
      background-color: var(--color-accent);

      &::after {
        background-color: var(--color-white);
      }
    }

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__cart {
    &::after {
      @include maskImage(url('../images/icons/cart.svg'), contain);
    }
  }

  &__search {
    &::after {
      width: 14px;
      height: 14px;
      @include maskImage(url('../images/icons/search.svg'), contain);
    }
  }
}

.data-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;

  padding-left: 20px;
  position: relative;

  &::after {
    @include elDef();
    width: 13px;
    height: 13px;
    top: 0;
    transform: translateY(25%);
    left: 0;
    background-color: var(--color-accent);
  }

  &__text {
    color: #444444;
  }

  &__accent {
    color: #639933;
    @include breakpointsMaxW($bp-768) {
      font-size: 12px;
    }
  }

  &__phone {
    font-size: 23px;
    line-height: 1;
    font-weight: 500;
    color: #282828;
  }

  &__gray {
    font-size: 13px;
    font-weight: 400;
    color: #6c6b6b;
  }

  &--mail {
    &::after {
      @include maskImage(url('../images/icons/mail.svg'), contain);
    }

    @include breakpointsMaxW($bp-container) {
      display: none;
    }
  }

  &--location {
    &::after {
      @include maskImage(url('../images/icons/location.svg'), contain);
    }
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &--phone-icon {
    &::after {
      @include maskImage(url('../images/icons/phone.svg'), contain);
    }
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &--phone {
    padding-left: 0;

    &::after {
      display: none;
    }

    @include breakpointsMaxW($bp-991) {
      margin-left: auto;
      align-items: flex-end;
    }
  }
}
