.request {
  background-color: var(--color-accent);
  @include adaptive-value('padding-top', 90, 50, 1);
  @include adaptive-value('padding-bottom', 90, 50, 1);
  @include background(cover);

  .iti {
    &__country-list {
      background-color: var(--color-white);
    }
    &__county-name {
      color: var(--color-black) !important;
    }
    &__dial-code {
      color: var(--color-black) !important;
    }
    &__flag-container{
      padding-bottom: 20px;
    }
  }

  &__top {
    text-align: center;
    margin-bottom: 30px;
  }

  &__title {
    @include fz40();
    margin-bottom: 15px;
    color: var(--color-white);
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: #f9f9f9;
    max-width: 650px;
    margin: 0 auto;
    @include adaptive-value('font-size', 20, 15, 1);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    align-items: center;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__preview {
    width: 100%;
    height: 480px;
    @include background(contain);
    @include adaptive-value('height', 480, 230, 1);

    @include breakpointsMaxW($bp-991) {
      order: 1;
    }
  }

  &__form {
    width: 100%;
  }

  &--question {
    padding-bottom: 90px;
    @include breakpointsMaxW($bp-991) {
      padding-bottom: 0;
    }

    position: relative;
    .form-submit {
      &__group {
        margin-bottom: 20px;
      }
    }

    .request {
      &__wrapper {
        display: grid;
        grid-template-columns: initial;
        gap: 40px;
        z-index: 1;
      }

      &__form {
        padding-left: 690px;
        z-index: 1;

        @include breakpointsMaxW($bp-container) {
          padding-left: calc(
            500px + (655 - 500) * ((100vw - 991px) / (1270 - 991))
          );
        }

        @include breakpointsMaxW($bp-991) {
          padding-left: 0;
        }
      }

      &__title {
        margin-bottom: 5px;
      }

      &__preview {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 690px;
        height: 560px;
        z-index: 0;
        left: max(15px, calc((100% - 1270px) / 2));

        @include breakpointsMaxW($bp-container) {
          width: calc(450px + (690 - 490) * ((100vw - 991px) / (1270 - 991)));
          height: calc(360px + (560 - 360) * ((100vw - 991px) / (1270 - 991)));
        }

        @include breakpointsMaxW($bp-991) {
          position: static;
          height: 450px;
          margin: 0 auto;
          width: 450px;

          height: calc(250px + (360 - 250) * ((100vw - 375px) / (991 - 375)));
        }

        @include breakpointsMaxW($bp-576) {
          width: 280px;
        }
      }
    }
  }

  &--no-top {
    margin-top: -50px;
    z-index: 1;
    position: relative;

    &::after {
      @include elDef();
      width: 100%;
      height: 50px;
      background-color: var(--color-accent);
      top: 0;
      left: 0;
    }
  }
}
