<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">Преимущества <span>нашей продукции</span></h2>

    <ul class="advantages__list">
      <li class="advantages__item">
        <div
          class="advantages-card"
          style="background-image: url('images/content/advantages/1.jpg')"
        >
          <h3 class="advantages-card__title">ДОЛГОВЕЧНОСТЬ</h3>
          <div class="advantages-card__body">
            <div class="advantages-card__text">
              <p>
                Полимерпесчаная смесь не ржавеет, не рассыпается, не впитывает
                влагу, не гниет — гарантия от 2х лет
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="advantages__item">
        <div
          class="advantages-card"
          style="background-image: url('images/content/advantages/2.jpg')"
        >
          <h3 class="advantages-card__title">КРЕПКИЙ КАК КАМЕНЬ</h3>
          <div class="advantages-card__body">
            <div class="advantages-card__text">
              <p>
                Полимерпесчаная смесь не ржавеет, не рассыпается, не впитывает
                влагу, не гниет — гарантия от 2х лет
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="advantages__item">
        <div
          class="advantages-card"
          style="background-image: url('images/content/advantages/3.jpg')"
        >
          <h3 class="advantages-card__title">АНТИВАНДАЛЬНОСТЬ</h3>

          <div class="advantages-card__body">
            <div class="advantages-card__text">
              <p>
                Полимерпесчаная смесь не ржавеет, не рассыпается, не впитывает
                влагу, не гниет — гарантия от 2х лет
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="advantages__item">
        <div
          class="advantages-card"
          style="background-image: url('images/content/advantages/4.jpg')"
        >
          <h3 class="advantages-card__title">100% ЭКОЛОГИЧНЫ</h3>
          <div class="advantages-card__body">
            <div class="advantages-card__text">
              <p>
                Полимерпесчаная смесь не ржавеет, не рассыпается, не впитывает
                влагу, не гниет — гарантия от 2х лет
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="advantages__item">
        <div
          class="advantages-card"
          style="background-image: url('images/content/advantages/5.jpg')"
        >
          <h3 class="advantages-card__title">ЛУЧШАЯ ЦЕНА</h3>
          <div class="advantages-card__body">
            <div class="advantages-card__text">
              <p>
                Полимерпесчаная смесь не ржавеет, не рассыпается, не впитывает
                влагу, не гниет — гарантия от 2х лет
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="advantages__item">
        <div
          class="advantages-card"
          style="background-image: url('images/content/advantages/6.jpg')"
        >
          <h3 class="advantages-card__title">100% УТИЛИЗАЦИЯ</h3>
          <div class="advantages-card__body">
            <div class="advantages-card__text">
              <p>
                Полимерпесчаная смесь не ржавеет, не рассыпается, не впитывает
                влагу, не гниет — гарантия от 2х лет
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
