<section class="blog blog--section">
  <div class="container">
    <div class="blog__top">
      <h2 class="blog__title">Блог</h2>
    </div>

    <ul class="blog__list">
      <li class="blog__item blog__item--big">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/1.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/2.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/3.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item blog__item--big">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/1.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/2.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/3.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item blog__item--big">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/1.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/2.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-card">
          <a class="blog-card__top" href="#">
            <img src="images/content/blog/3.jpg" alt="Блог" />

            <div class="blog-card__badges">
              <span class="blog-card__badge blog-card__badge--view">55</span>
              <span class="blog-card__badge blog-card__badge--chat"> 15 </span>
            </div>
          </a>
          <div class="blog-card__body">
            <div class="blog-card__details">
              <a class="blog-card__detail blog-card__detail--date" href="#">
                08.04.2022
              </a>
              <p class="blog-card__detail blog-card__detail--user">
                Автор: <a href="#"> Иван Иванов </a>
              </p>
            </div>
            <h3 class="blog-card__title">
              <a href="#">
                Новые изделия Умная Sreda на улицах
                <span> наших городов</span>
              </a>
            </h3>
          </div>
        </article>
      </li>
    </ul>

    <div class="blog__bottom">
      <button class="blog__btn btn" type="button">Еще статьи</button>
    </div>
  </div>
</section>
