<section class="cart">
  <div class="container">
    <h2 class="cart__title">Корзина</h2>

    <div class="cart__wrapper">
      <ul class="cart__list">
        <li class="cart__item">
          <article class="card-product">
            <div class="card-product__col">
              <span class="card-product__name">Фото</span>
              <div class="card-product__img">
                <img
                  src="images/content/benches/1.png"
                  alt="Скамья парковая (со спинкой)"
                />
              </div>
            </div>
            <div class="card-product__col card-product__col--list">
              <span class="card-product__name">Название товара</span>

              <h3 class="card-product__title">Скамья парковая (со спинкой)</h3>
              <ul class="card-product__list">
                <li class="card-product__item">
                  <div class="card-product__left">Артикул</div>
                  <div class="card-product__right">123456</div>
                </li>
                <li class="card-product__item">
                  <div class="card-product__left">Длина</div>
                  <div class="card-product__right">200 мм</div>
                </li>
                <li class="card-product__item">
                  <div class="card-product__left">Ширина</div>
                  <div class="card-product__right">50 мм</div>
                </li>
                <li class="card-product__item">
                  <div class="card-product__left">Высота сидения</div>
                  <div class="card-product__right">65 мм</div>
                </li>
                <li class="card-product__item">
                  <div class="card-product__left">Вес</div>
                  <div class="card-product__right">300 кг</div>
                </li>
              </ul>
            </div>
            <div class="card-product__col">
              <span class="card-product__name card-product__name--center"
                >Количество</span
              >
              <div class="card-product__box">
                <div class="card-product__count">1 шт.</div>
              </div>
            </div>
            <div class="card-product__col">
              <span class="card-product__name card-product__name--center"
                >Цена</span
              >
              <div class="card-product__box">
                <div class="card-product__count">11 500 ₽</div>
              </div>
            </div>
            <div class="card-product__col">
              <span class="card-product__name card-product__name--color-white"
                >Удалить</span
              >
              <div class="card-product__box">
                <button class="card-product__delete" type="button">
                  удалить
                </button>
              </div>
            </div>

            <div class="card-product__bottom">
              <div class="card-product__total">
                Итого к оплате:<span>11 500 ₽</span>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <div class="cart__bottom">
        <a class="cart__btn btn btn--no-shadow" href="#">ОФОРМИТЬ ЗАКАЗ</a>
      </div>
    </div>
  </div>
</section>
