<section class="categories">
  <div class="container">
    <h2 class="visually-hidden">Категории</h2>

    <ul class="categories__list">
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/1.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Дачная и садовая мебель</h3>

            <div class="categories-card__text">
              <p>Садовые скамейки, Кресла и стулья,</p>
              <p>Садовые столы, Дачные комплекты,</p>
              <p>Дежаки и шезлонги, Перголы и шпалеры,</p>
              <p>Мебель для дома и террас,</p>
              <p>Садовые качели</p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/2.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Дачная и садовая мебель</h3>

            <div class="categories-card__text">
              <p>Все скамейки, Парковые и уличные,</p>
              <p>Современные, Чугунные, Стальные,</p>
              <p>Алюминиевые, Экономичные</p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/3.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Урны для мусора</h3>

            <div class="categories-card__text">
              <p>Все урны, Парковые и уличные,</p>
              <p>Чугунные, Металлические, Деревянные,</p>
              <p>Для раздельного сбора мусора,</p>
              <p>Для собачьих экскрементов</p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/4.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Уличные кашпо</h3>

            <div class="categories-card__text">
              <p>Для дачи, Для цветов, Подвесные,</p>
              <p>Напольное</p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/5.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">ПЕРГОЛЫ</h3>

            <div class="categories-card__text">
              <p>Садовые скамейки, Кресла и стулья,</p>
              <p>Садовые столы, Дачные комплекты,</p>
              <p>Дежаки и шезлонги, Перголы и шпалеры,</p>
              <p>Мебель для дома и террас,</p>
              <p>Садовые качели</p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/6.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Заборы и ограждения</h3>

            <div class="categories-card__text">
              <p>Садовые скамейки, Кресла и стулья,</p>
              <p>Садовые столы, Дачные комплекты,</p>
              <p>Дежаки и шезлонги, Перголы и шпалеры,</p>
              <p>Мебель для дома и террас,</p>
              <p>Садовые качели</p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/7.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Шезлонги</h3>

            <div class="categories-card__text">
              <p>Садовые скамейки, Кресла и стулья,</p>
              <p>Садовые столы, Дачные комплекты,</p>
              <p>Дежаки и шезлонги, Перголы и шпалеры,</p>
              <p>Мебель для дома и террас,</p>
              <p>Садовые качели</p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/8.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Парклеты</h3>

            <div class="categories-card__text">
              <p>Садовые скамейки, Кресла и стулья,</p>
              <p>Садовые столы, Дачные комплекты,</p>
              <p>Дежаки и шезлонги, Перголы и шпалеры,</p>
              <p>Мебель для дома и террас,</p>
              <p>Садовые качели</p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <div class="categories__bottom">
      <button class="categories__btn" type="button">Показать еще</button>
    </div>
  </div>
</section>
