<section class="categories">
  <div class="container">
    <h2 class="visually-hidden">Категории</h2>

    <ul class="categories__list">
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/1.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Дачная и садовая мебель</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#"> Садовые столы </a>,
                <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/2.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Дачная и садовая мебель</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Все скамейки</a>,
                <a class="categories-card__link" href="#">Парковые и уличные</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Современные</a>, <a class="categories-card__link" href="#">Чугунные</a>,
                <a class="categories-card__link" href="#">Стальные</a>,
              </p>
              <p><a class="categories-card__link" href="#">Алюминиевые</a>, <a class="categories-card__link" href="#">Экономичные</a></p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/3.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Урны для мусора</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Все урны</a>, <a class="categories-card__link" href="#">Парковые и уличные</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Чугунные</a>, <a class="categories-card__link" href="#">Металлические</a>,
                <a class="categories-card__link" href="#">Деревянные</a>,
              </p>
              <p><a class="categories-card__link" href="#">Для раздельного сбора мусора</a>,</p>
              <p><a class="categories-card__link" href="#">Для собачьих экскрементов</a></p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/4.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Уличные кашпо</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Для дачи</a>, <a class="categories-card__link" href="#">Для цветов</a>,
                <a class="categories-card__link" href="#">Подвесные</a>,
              </p>
              <p><a class="categories-card__link" href="#">Напольное</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/5.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">ПЕРГОЛЫ</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/6.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Заборы и ограждения</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/7.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Шезлонги</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/8.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Парклеты</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>Дежаки и шезлонги, <a class="categories-card__link" href="#">Перголы и шпалеры</a>,</p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/1.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Дачная и садовая мебель</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#"> Садовые столы </a>,
                <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/2.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Дачная и садовая мебель</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Все скамейки</a>,
                <a class="categories-card__link" href="#">Парковые и уличные</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Современные</a>, <a class="categories-card__link" href="#">Чугунные</a>,
                <a class="categories-card__link" href="#">Стальные</a>,
              </p>
              <p><a class="categories-card__link" href="#">Алюминиевые</a>, <a class="categories-card__link" href="#">Экономичные</a></p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/3.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Урны для мусора</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Все урны</a>, <a class="categories-card__link" href="#">Парковые и уличные</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Чугунные</a>, <a class="categories-card__link" href="#">Металлические</a>,
                <a class="categories-card__link" href="#">Деревянные</a>,
              </p>
              <p><a class="categories-card__link" href="#">Для раздельного сбора мусора</a>,</p>
              <p><a class="categories-card__link" href="#">Для собачьих экскрементов</a></p>
            </div>

            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/4.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Уличные кашпо</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Для дачи</a>, <a class="categories-card__link" href="#">Для цветов</a>,
                <a class="categories-card__link" href="#">Подвесные</a>,
              </p>
              <p><a class="categories-card__link" href="#">Напольное</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/5.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">ПЕРГОЛЫ</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/6.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Заборы и ограждения</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/7.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Шезлонги</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/8.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Парклеты</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>Дежаки и шезлонги, <a class="categories-card__link" href="#">Перголы и шпалеры</a>,</p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>

    <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/5.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">ПЕРГОЛЫ</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/6.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Заборы и ограждения</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/7.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Шезлонги</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Дежаки и шезлонги</a>,
                <a class="categories-card__link" href="#">Перголы и шпалеры</a>,
              </p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li>
      <li class="categories__item">
        <article class="categories-card">
          <div class="categories-card__top">
            <img
              src="images/content/categories/8.png"
              alt="Дачная и садовая мебель"
            />
          </div>
          <div class="categories-card__body">
            <h3 class="categories-card__title">Парклеты</h3>

            <div class="categories-card__text">
              <p>
                <a class="categories-card__link" href="#">Садовые скамейки</a>,
                <a class="categories-card__link" href="#">Кресла и стулья</a>,
              </p>
              <p>
                <a class="categories-card__link" href="#">Садовые столы</a>, <a class="categories-card__link" href="#">Дачные комплекты</a>,
              </p>
              <p>Дежаки и шезлонги, <a class="categories-card__link" href="#">Перголы и шпалеры</a>,</p>
              <p><a class="categories-card__link" href="#">Мебель для дома и террас</a>,</p>
              <p><a class="categories-card__link" href="#">Садовые качели</a></p>
            </div>
            <div class="categories-card__bottom">
              <a class="categories-card__btn btn" class="categories-card__link" href="#">Подробнее</a>
            </div>
          </div>
        </article>
      </li> 
    </ul>

    <div class="categories__bottom">
      <button class="categories__btn show-more-btn" type="button">Показать еще</button>
    </div>
  </div>
</section>
