<section class="formula">
  <div class="container">
    <h2 class="formula__title">Спасаем страну <span>от пластика</span></h2>

    <div class="formula__text">
      <p>
        Благодаря нашей технологии производства полимерпесчаного композита, две
        наши скамейки -
        <span>
          это 12 000 утилизированных пластиковых пакетов и одно сохраненное
          дерево!
        </span>
      </p>
    </div>

    <ul class="formula__list">
      <li class="formula__item">
        <div class="formula__img">
          <img src="images/content/formula/1.png" alt="Пакетов" />
        </div>
        <div class="formula__info">
          <p>12 000</p>
          <span>пластиковых пакетов</span>
        </div>
      </li>
      <li class="formula__item">
        <div class="formula__info">
          <p>2</p>
          <span>скамейки</span>
        </div>
        <div class="formula__img">
          <img src="images/content/formula/2.png" alt="Скамейка" />
        </div>
      </li>
      <li class="formula__item">
        <div class="formula__info">
          <p>1</p>
          <span>выжившее дерево</span>
        </div>
        <div class="formula__img">
          <img src="images/content/formula/3.png" alt="Дерево" />
        </div>
      </li>
    </ul>
  </div>
</section>
