<section class="delivery-cost">
  <div class="container">
    <div class="delivery-cost__top">
      <h2 class="delivery-cost__title">
        Узнайте точную стоимость доставки <span> в Ваш город </span>
      </h2>

      <p class="delivery-cost__text">
        Оставьте Ваши данные и мы свяжемся с Вами.
      </p>
    </div>

    <form class="form-delivery">
      <label class="form-delivery__group">
        <input class="form-delivery__input" type="text" placeholder="ФИО" />
      </label>
      <label class="form-delivery__group">
        <input class="form-delivery__input" type="text" placeholder="E-mail" />
      </label>
      <label class="form-delivery__group">
        <input class="form-delivery__input" type="tel" placeholder="+7 (___) ___ - __ - __" />
      </label>
      <label class="form-delivery__group">
        <input
          class="form-delivery__input"
          type="text"
          placeholder="Ваш город"
        />
      </label>
      <label class="checkbox checkbox--dark">
        <input class="checkbox__input" type="checkbox" />
        <span class="checkbox__box"></span>
        <span class="checkbox__text">
          Нажимая на кнопку отправить я соглашаюсь с
          <a href="#"> политикой конфиденциальности</a>
        </span>
      </label>

      <button class="form-delivery__btn btn btn--no-shadow" type="button">
        Отправить
      </button>
    </form>
  </div>
</section>
