<section
  class="hero hero--service"
  style="background-image: url('images/content/hero-service.jpg')"
>
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h2 class="hero__title">Индивидуальная разработка МАФ</h2>
        <div class="hero__text">
          <p>
            Разработаем изделие малой формы по индивидуальному проекту из
            экологически безопасных строительных материалов
          </p>
        </div>

        <button class="hero__btn btn btn-development">ЗАКАЗАТЬ РАЗРАБОТКУ</button>
      </div>
    </div>
  </div>
</section>
