<section class="individual">
  <div class="container">
    <h2 class="individual__title">Индивидуальная разработка МАФ</h2>

    <div class="individual__text">
      <p>
        При производстве изделий применяются только высококачественные материалы
        — железобетон, металл, искусственный и натуральный камень, дерево,
        полимеры. Это обеспечивает высокую устойчивость МАФ к воздействию
        внешних факторов. Поэтому мы гарантируем продолжительный срок службы
        наших малых архитектурных форм.
      </p>

      <p>
        Разработка МАФ по индивидуальному проекту начинается со сбора исходных
        данных объекта и изучения пожеланий клиента. Заказчик высылает нам на
        электронную почту технические условия/ параметры, образцы изделий,
        техническую документацию (если таковая имеется). По согласованию сторон
        технические условия и (или) технические параметры могут передаваться в
        устной форме. Затем разрабатывается эскиз. Далее заказчик выбирает
        подходящий эскиз из нескольких предложенных вариантов. После утверждения
        эскиза мы переходим к созданию 3D модели, которая позволяет получить
        трехмерное изображение конструкции. Для этого используются
        профессиональные компьютерные программы. Цель изготовления 3D модели —
        показать клиенту идею проекта. В процессе проектирования выполняется
        тщательная корректировка эскизов, после которой можно переходить к
        проектным чертежам МАФ.
      </p>
    </div>
  </div>
</section>
