<section class="news">
  <div class="container">
    <h2 class="news__title">СМИ о нас</h2>

    <ul class="news__list">
      <li class="news__item news__item--big">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img src="images/content/news/3.jpg" alt="Новости" />
          </a>

          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__date">08.04.2022</p>
              <p class="news-card__author">Автор: <span>Иван Иванов</span></p>
              <p class="news-card__views">55</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">
                В Санкт-Петербурге перерабатывают дой - пайки и паучи в уличную
                мебель
              </a>
            </h3>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img src="images/content/news/1.jpg" alt="Новости" />

            <span class="news-card__date">08.04.2022</span>
          </a>

          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__author">Автор: <span>Иван Иванов</span></p>
              <p class="news-card__views">55</p>
            </div>
            <h3 class="news-card__title">
              <a href="#">Новые изделия Умная Sreda на улицах наших городов</a>
            </h3>
            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>

            <a class="news-card__btn" href="#">ЧИТАТЬ ДАЛЕЕ</a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__top" href="#">
            <img src="images/content/news/2.jpg" alt="Новости" />

            <span class="news-card__date">08.04.2022</span>
          </a>

          <div class="news-card__body">
            <div class="news-card__details">
              <p class="news-card__author">Автор: <span>Иван Иванов</span></p>
              <p class="news-card__views">55</p>
            </div>

            <h3 class="news-card__title">
              <a href="#">Новые изделия Умная Sreda на улицах наших городов</a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
            </div>

            <a class="news-card__btn" href="#">ЧИТАТЬ ДАЛЕЕ</a>
          </div>
        </article>
      </li>
    </ul>

    <div class="news__bottom">
      <a class="news__btn btn" href="#">ЧИТАТЬ БОЛЬШЕ</a>
    </div>
  </div>
</section>
