<section class="news-product tabs">
  <div class="container">
    <h2 class="news-product__title">Наши новинки индивидуальной разработки</h2>

    <div class="news-product__tabs">
      <div class="news-product__top">
        <ul class="news-product__top-list">
          <li class="news-product__top-item">
            <button class="news-product__top-btn news-product__top-btn--active">
              Все
            </button>
          </li>
          <li class="news-product__top-item">
            <button class="news-product__top-btn">Скамейки</button>
          </li>
          <li class="news-product__top-item">
            <button class="news-product__top-btn">Урны</button>
          </li>
          <li class="news-product__top-item">
            <button class="news-product__top-btn">Остановки</button>
          </li>
          <li class="news-product__top-item">
            <button class="news-product__top-btn">Павильоны / навесы</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="news-product__contents">
      <div class="news-product__content active">
        <div class="news-product__slider swiper">
          <ul class="news-product__slides swiper-wrapper">
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
        </div>
      </div>
      <div class="news-product__content">
        <div class="news-product__slider swiper">
          <ul class="news-product__slides swiper-wrapper">
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
        </div>
      </div>
      <div class="news-product__content">
        <div class="news-product__slider swiper">
          <ul class="news-product__slides swiper-wrapper">
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
        </div>
      </div>
      <div class="news-product__content">
        <div class="news-product__slider swiper">
          <ul class="news-product__slides swiper-wrapper">
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
        </div>
      </div>
      <div class="news-product__content">
        <div class="news-product__slider swiper">
          <ul class="news-product__slides swiper-wrapper">
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/1.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лесок»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/2.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Скамейка «Берлин»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/3.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Очаг «Лондон»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
            <li class="news-product__slide swiper-slide">
              <article class="product-card">
                <div class="product-card__top">
                  <img src="images/content/products/4.png" alt="Работа" />

                  <div class="product-card__in-stock">В наличии</div>
                </div>
                <div class="product-card__body">
                  <h3 class="product-card__title">Урна - пепельница «Эстет»</h3>

                  <p class="product-card__price">от 11 500 ₽</p>
                </div>
              </article>
            </li>
          </ul>
          <div class="swiper-pagination"></div>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
