<section class="our-works tabs">
  <div class="container">
    <h2 class="our-works__title">Наши работы</h2>

    <div class="our-works__tabs">
      <div class="our-works__top">
        <ul class="our-works__top-list">
          <li class="our-works__top-item">
            <button class="our-works__top-btn tabs-btn tabs-btn--active">
              Парки и скверы
            </button>
          </li>
          <li class="our-works__top-item">
            <button class="our-works__top-btn tabs-btn">
              Дворы и детские площадки
            </button>
          </li>
          <li class="our-works__top-item">
            <button class="our-works__top-btn tabs-btn">
              Набережные и пляжи
            </button>
          </li>
          <li class="our-works__top-item">
            <button class="our-works__top-btn tabs-btn">
              Торговые центры и павильоны
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="our-works__contents">
    <div class="our-works__content tabs-content active">
      <div class="our-works__slider swiper">
        <ul class="our-works__slides swiper-wrapper">
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/4.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
    <div class="our-works__content tabs-content">
      <div class="our-works__slider swiper">
        <ul class="our-works__slides swiper-wrapper">
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/4.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
    <div class="our-works__content tabs-content">
      <div class="our-works__slider swiper">
        <ul class="our-works__slides swiper-wrapper">
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/4.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
    <div class="our-works__content tabs-content">
      <div class="our-works__slider swiper">
        <ul class="our-works__slides swiper-wrapper">
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/4.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/3.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/1.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
          <li class="our-works__slide swiper-slide">
            <article class="work-card">
              <div class="work-card__top">
                <img src="images/content/works/2.jpg" alt="Работа" />
              </div>
              <div class="work-card__body">
                <h3 class="work-card__title">Название работы</h3>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>

  <div class="our-works__bottom">
    <a class="our-works__btn btn" href="#">ПЕРЕЙТИ В ПОРТФОЛИО</a>
  </div>
</section>
