<section class="portfolio">
  <div class="container">
    <div class="portfolio__top">
      <h2 class="portfolio__title">Портфолио</h2>

      <div class="portfolio__top-inner">
        <ul class="portfolio__top-list">
          <li class="portfolio__top-item">
            <button class="portfolio__top-btn" type="button" data-filter="all">
              Все
            </button>
          </li>
          <li class="portfolio__top-item">
            <button
              class="portfolio__top-btn"
              type="button"
              data-filter=".category-a"
            >
              Парки и сверы
            </button>
          </li>
          <li class="portfolio__top-item">
            <button
              class="portfolio__top-btn"
              type="button"
              data-filter=".category-b"
            >
              Дворы и детские площадки
            </button>
          </li>
          <li class="portfolio__top-item">
            <button
              class="portfolio__top-btn"
              type="button"
              data-filter=".category-c"
            >
              Набережные и пляжи
            </button>
          </li>
          <li class="portfolio__top-item">
            <button
              class="portfolio__top-btn"
              type="button"
              data-filter=".category-d"
            >
              Торговые центры и павильоны
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="portfolio__content">
      <ul class="portfolio__list">
        <li class="portfolio__item mix category-d">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/1.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-a">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/2.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-c">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/3.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-b">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/4.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-a">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/5.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-c">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/6.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-c category-a">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/1.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-d category-b">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/2.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-a category-c">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/3.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-b category-d">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/4.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-b">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/5.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
        <li class="portfolio__item mix category-d">
          <div class="portfolio-card">
            <a class="portfolio-card__link" href="#"></a>
            <div class="portfolio-card__top">
              <img src="images/content/portfolio/6.jpg" alt="Портфолио" />
            </div>
            <h3 class="portfolio-card__title">Название работы</h3>
          </div>
        </li>
      </ul>

      <div class="catalog__pagination pagination">
        <ul class="pagination__list">
          <li class="pagination__item">
            <a class="pagination__link pagination__link--active" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link pagination__link--further" href="#"
              >Далеее</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
