<section class="product">
  <div class="container">
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product.png" alt="Слайд №1" />
              </li>
            </ul>

            <button
              class="swiper-button-prev"
              type="button"
              aria-label="Следующий"
            ></button>
            <button
              class="swiper-button-next"
              type="button"
              aria-label="Предыдущий"
            ></button>
          </div>

          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/content/product.png" alt="Слайд №1" />
                </li>
              </ul>
            </div>

            <div class="slider-thumbs__nav-control">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Следующий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Предыдущий"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="product__right">
        <div class="product__top">
          <h2 class="product__title">Cкамья парковая</h2>

          <div class="product__stock stock stock--in">
            <span>В наличии</span>
          </div>
        </div>

        <div class="product__price">
          <p>18 386 руб.</p>

          <button class="product__btn-model" type="button">
            Заказать 3D модель
          </button>
        </div>

        <ul class="product__choose">
          <li class="choose-box">
            <span class="choose-box__name">Длина</span>

            <ul class="choose-box__list">
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">0,6 м</button>
              </li>
              <li class="choose-box__item">
                <button
                  class="choose-box__btn choose-box__btn--active"
                  type="button"
                >
                  1,2 м
                </button>
              </li>
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">1,5 м</button>
              </li>
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">1,8 м</button>
              </li>
            </ul>
          </li>
          <li class="choose-box">
            <span class="choose-box__name">Высота сидения</span>

            <ul class="choose-box__list">
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">0,6 м</button>
              </li>
              <li class="choose-box__item">
                <button
                  class="choose-box__btn choose-box__btn--active"
                  type="button"
                >
                  1,2 м
                </button>
              </li>
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">1,5 м</button>
              </li>
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">1,8 м</button>
              </li>
            </ul>
          </li>
          <li class="choose-box">
            <span class="choose-box__name">Ширина</span>

            <ul class="choose-box__list">
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">0,6 м</button>
              </li>
              <li class="choose-box__item">
                <button
                  class="choose-box__btn choose-box__btn--active"
                  type="button"
                >
                  1,2 м
                </button>
              </li>
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">1,5 м</button>
              </li>
              <li class="choose-box__item">
                <button class="choose-box__btn" type="button">1,8 м</button>
              </li>
            </ul>
          </li>
          <li class="choose-box">
            <span class="choose-box__name">Цвет</span>

            <select class="choose-box__select select">
              <option value="">Выберите из списка</option>
              <option value="1">Зеленый</option>
              <option value="2">Коричневый</option>
              <option value="3">Серый</option>
            </select>
          </li>
        </ul>

        <div class="product__actions">
          <div class="product__counter counter">
            <button
              class="counter__btn counter__btn--decrease"
              type="button"
              aria-label="Добавить"
            >
              -
            </button>
            <input class="counter__input" type="number" value="1" />
            <button
              class="counter__btn counter__btn--increase"
              type="button"
              aria-label="Вычесть"
            >
              +
            </button>
          </div>

          <button class="product__btn btn" type="button">В корзину</button>

          <button class="product__btn btn btn--light" type="button">
            КУПИТЬ В 1 КЛИК
          </button>
        </div>

        <div class="product__files product-files">
          <ul class="product-files__list">
            <li class="product-files__item">
              <a class="product-files__link" href="#">Паспорт изделия</a>
            </li>
            <li class="product-files__item">
              <a class="product-files__link" href="#">Запросить инструкцию</a>
            </li>
            <li class="product-files__item">
              <a class="product-files__link" href="#"
                >Скачать реквизиты компании</a
              >
            </li>
          </ul>
        </div>

        <div class="product__equipment product-equipment">
          <div class="product-equipment__wrap">
            <ul class="product-equipment__list">
              <li class="product-equipment__item product-equipment__item--head">
                <div>Скамейка</div>
                <div>Артикул</div>
                <div>Цена</div>
                <div>Количество</div>
              </li>
              <li class="product-equipment__item">
                <div class="product-equipment__spec">
                  <span>длина - 1800 мм,</span>
                  <span>материал - сосна</span>
                </div>
                <div class="product-equipment__">123456</div>
                <div class="product-equipment__">По запросу</div>
                <div class="product-equipment__count count">
                  <button
                    class="count__btn count__btn--prev"
                    type="button"
                    aria-label="Добавить"
                  ></button>
                  <input class="count__input" type="number" value="0" />
                  <button
                    class="count__btn count__btn--next"
                    type="button"
                    aria-label="Вычесть"
                  ></button>
                </div>
              </li>
              <li class="product-equipment__item">
                <div class="product-equipment__spec">
                  <span>длина - 1800 мм,</span>
                  <span>материал - сосна</span>
                </div>
                <div class="product-equipment__">123456</div>
                <div class="product-equipment__">По запросу</div>
                <div class="product-equipment__count count">
                  <button
                    class="count__btn count__btn--prev"
                    type="button"
                    aria-label="Добавить"
                  ></button>
                  <input class="count__input" type="number" value="0" />
                  <button
                    class="count__btn count__btn--next"
                    type="button"
                    aria-label="Вычесть"
                  ></button>
                </div>
              </li>
              <li class="product-equipment__item">
                <div class="product-equipment__spec">
                  <span>длина - 1800 мм,</span>
                  <span>материал - сосна</span>
                </div>
                <div class="product-equipment__">123456</div>
                <div class="product-equipment__">По запросу</div>
                <div class="product-equipment__count count">
                  <button
                    class="count__btn count__btn--prev"
                    type="button"
                    aria-label="Добавить"
                  ></button>
                  <input class="count__input" type="number" value="0" />
                  <button
                    class="count__btn count__btn--next"
                    type="button"
                    aria-label="Вычесть"
                  ></button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <button class="product__btn btn" type="button">В корзину</button>
      </div>
    </div>

    <div class="product__tags tags">
      <div class="tags__wrap swiper">
        <ul class="tags__list swiper-wrapper">
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Комплекты садовой мебели
            </button>
          </li>
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Садовые скамейки
            </button>
          </li>
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Садовые столы
            </button>
          </li>
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Садовые качели
            </button>
          </li>
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Кресла садовые
            </button>
          </li>
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Перголы и шпалеры
            </button>
          </li>
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Лежаки и шезлонги
            </button>
          </li>
          <li class="tags__item swiper-slide">
            <button class="tags__btn btn btn--light" type="button">
              Мангалы и барбекю
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="product__spec product-spec tabs">
      <div class="product-spec__top">
        <ul class="product-spec__top-list">
          <li class="product-spec__top-item">
            <button
              class="product-spec__top-btn tabs-btn tabs-btn--active"
              type="button"
            >
              Описание
            </button>
          </li>
          <li class="product-spec__top-item">
            <button class="product-spec__top-btn tabs-btn" type="button">
              Характеристики
            </button>
          </li>
          <li class="product-spec__top-item">
            <button class="product-spec__top-btn tabs-btn" type="button">
              Оплата
            </button>
          </li>
          <li class="product-spec__top-item">
            <button class="product-spec__top-btn tabs-btn" type="button">
              Доставка
            </button>
          </li>
          <li class="product-spec__top-item">
            <button class="product-spec__top-btn tabs-btn" type="button">
              Отзывы <span>(2)</span>
            </button>
          </li>
        </ul>
      </div>

      <div class="product-spec__wrapper">
        <div class="product-spec__content tabs-content active">
          <h3 class="product-spec__name">Деревянная парковая скамейка</h3>
          <div class="product-spec__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="product-spec__content tabs-content">
          <ul class="product-spec__list">
            <li class="product-spec__item">
              <div class="product-spec__left">Артикул:</div>
              <div class="product-spec__right">123456</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Высота сиденья:</div>
              <div class="product-spec__right">450 мм</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Вес:</div>
              <div class="product-spec__right">113 кг</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Длина:</div>
              <div class="product-spec__right">2046 мм</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Ширина:</div>
              <div class="product-spec__right">600 мм</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Высота:</div>
              <div class="product-spec__right">450 мм</div>
            </li>
          </ul>
        </div>
        <div class="product-spec__content tabs-content">
          <div class="product-spec__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="product-spec__content tabs-content">
          <div class="product-spec__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>

        <div class="product-spec__content tabs-content">
          <div class="product-spec__comments comments">
            <form class="comments__form form-comment">
              <div class="form-comment__wrapper">
                <div class="form-comment__left">
                  <div class="form-comment__img">
                    <img src="images/content/comment.jpg" alt="аватар" />
                  </div>

                  <div class="form-comment__set">
                    <label class="custom-file-upload" for="file-upload">
                      Установить аватар
                    </label>
                    <input id="file-upload" type="file" />
                  </div>
                </div>

                <div class="form-comment__right">
                  <div class="form-comment__inputs">
                    <label class="form-comment__group">
                      <input
                        class="form-comment__input"
                        type="text"
                        placeholder="Имя и Фамилия"
                      />
                    </label>
                    <label class="form-comment__group">
                      <input
                        class="form-comment__input"
                        type="text"
                        placeholder="Тема комментария"
                      />
                    </label>

                    <label
                      class="form-comment__group form-comment__group--textarea"
                    >
                      <textarea
                        class="form-comment__input"
                        placeholder="Ваш комментарий"
                      ></textarea>
                    </label>
                  </div>

                  <div class="form-comment__bottom">
                    <div class="form-comment__come come-box">
                      <span class="come-box__title">Войти с</span>

                      <ul class="come-box__list">
                        <li class="come-box__item">
                          <a
                            class="come-box__link come-box__link--vk"
                            href="#"
                          ></a>
                        </li>
                        <li class="come-box__item">
                          <a
                            class="come-box__link come-box__link--facebook"
                            href="#"
                          ></a>
                        </li>
                      </ul>
                    </div>

                    <label
                      class="form-comment__group form-comment__group--email"
                    >
                      <input
                        class="form-comment__input"
                        type="email"
                        placeholder="Электронная почта"
                      />
                    </label>

                    <div class="form-comment__rating rating-choose">
                      <span>Рейтинг</span>

                      <div class="rating-area">
                        <input
                          type="radio"
                          id="star-5"
                          name="rating"
                          value="5"
                        />
                        <label for="star-5" title="Оценка «5»"></label>
                        <input
                          type="radio"
                          id="star-4"
                          name="rating"
                          value="4"
                        />
                        <label for="star-4" title="Оценка «4»"></label>
                        <input
                          type="radio"
                          id="star-3"
                          name="rating"
                          value="3"
                        />
                        <label for="star-3" title="Оценка «3»"></label>
                        <input
                          type="radio"
                          id="star-2"
                          name="rating"
                          value="2"
                        />
                        <label for="star-2" title="Оценка «2»"></label>
                        <input
                          type="radio"
                          id="star-1"
                          name="rating"
                          value="1"
                        />
                        <label for="star-1" title="Оценка «1»"></label>
                      </div>
                    </div>

                    <button class="form-comment__btn btn" type="submit">
                      Отправить
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <div class="comments__count">
              <p><span>2</span> комментария</p>
            </div>

            <ul class="comments__list">
              <li class="comments-item">
                <div class="comments-item__left">
                  <img
                    class="comments-item__img"
                    src="images/content/comment.jpg"
                    alt="Аватар"
                  />
                </div>

                <div class="comments-item__right">
                  <div class="comments-item__top">
                    <div class="comments-item__top-left">
                      <span class="comments-item__heading"
                        >Отличный ремонт!</span
                      >
                      <div class="comments-item__info">
                        <p class="comments-item__name">Иван Иванов</p>
                        <span class="comments-item__date">27.04.2022</span>
                      </div>
                    </div>
                    <div class="comments-item__top-right">
                      <div class="rating"></div>
                      <div class="comments-item__count">
                        <span>5</span>
                      </div>
                    </div>
                  </div>

                  <div class="comments-item__text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting,
                      remaining essentially unchanged. It was popularised in the
                      1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing
                      software like Aldus PageMaker including versions of Lorem
                      Ipsum.
                    </p>
                  </div>

                  <button class="comments-item__answer-btn" type="button">
                    Ответить
                  </button>
                </div>
              </li>
              <li class="comments-item">
                <div class="comments-item__left">
                  <img
                    class="comments-item__img"
                    src="images/content/no-avatar.png"
                    alt="Аватар"
                  />
                </div>

                <div class="comments-item__right">
                  <div class="comments-item__top">
                    <div class="comments-item__top-left">
                      <span class="comments-item__heading"
                        >Отличный ремонт!</span
                      >
                      <div class="comments-item__info">
                        <p class="comments-item__name">Иван Иванов</p>
                        <span class="comments-item__date">27.04.2022</span>
                      </div>
                    </div>
                    <div class="comments-item__top-right">
                      <div class="rating"></div>
                      <div class="comments-item__count">
                        <span>5</span>
                      </div>
                    </div>
                  </div>

                  <div class="comments-item__text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting,
                      remaining essentially unchanged. It was popularised in the
                      1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing
                      software like Aldus PageMaker including versions of Lorem
                      Ipsum.
                    </p>
                  </div>

                  <button class="comments-item__answer-btn" type="button">
                    Ответить
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
