<section
  class="request request--question"
  style="background-image: url('images/content/request.jpg')"
>
  <div class="container">
    <div class="request__top">
      <h2 class="request__title">Остались вопросы? Мы вам перезвоним!</h2>
      <div class="request__text">
        <p>Оставьте Ваши данные и мы свяжемся с Вами.</p>
      </div>
    </div>

    <div class="request__wrapper">
      <form class="request__form form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="name">ФИО</label>
          <input
            class="form-submit__input"
            type="text"
            id="name"
            placeholder="Введите Ваше ФИО"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="tel">Телефон</label>
          <input
            class="form-submit__input"
            type="tel"
            id="tel"
            placeholder="+7 (___) ___ - __ - __"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="mail">E-mail</label>
          <input
            class="form-submit__input"
            type="email"
            id="mail"
            placeholder="Введите электронную почту"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="message">Сообщение</label>
          <input
            class="form-submit__input"
            type="tel"
            id="message"
            placeholder="Введите сообщение"
          />
        </div>

        <label class="checkbox">
          <input class="checkbox__input" type="checkbox" required checked />
          <span class="checkbox__box"></span>
          <span class="checkbox__text">
            Нажимая на кнопку отправить я соглашаюсь с
            <a href="#">политикой конфиденциальности</a>
          </span>
        </label>

        <button class="form-submit__btn btn btn--white">Отправить</button>
      </form>

      <div
        class="request__preview"
        style="background-image: url('images/content/bench-with-girl.png')"
      ></div>
    </div>
  </div>
</section>
