<section
  class="tagline"
  style="background-image: url('images/content/founder-bg.jpg')"
>
  <div class="container">
    <div class="tagline__wrapper">
      <div class="tagline__founder">
        <img src="images/content/founder.jpg" alt="Соколов денис" />
        <div class="tagline__name">
          <h3>Соколов Денис</h3>
          <span>Основатель компании ”Экосреда”</span>
        </div>
      </div>

      <div class="tagline__offer">
        <h2 class="tagline__title">Спасти планету от пластика!</h2>

        <div class="tagline__text">
          <p>
            Переработка отходов, сохранение природных ресурсов – одна из
            ключевых проблем перед современным человеком. В настоящее время эта
            тема активно обсуждается на уровне города Москвы и Правительства
            нашей страны, а также предпринимаются конкретные шаги – внедряется
            раздельный сбор мусора, преимущественное использование продукции из
            вторичного сырья.
          </p>
          <p>
            Благодаря нашей технологии производства полимерпесчаной смеси, две
            наши скамейки – это 10 000 утилизированных пластиковых пакетов и
            одно спасенное дерево! Покупая нашу продукцию вы вносите свой
            существенный вклад в спасение нашего города от пластика.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="tagline__right">
    <div class="tagline__right-offer">
      <h2 class="tagline__right-title">СПАСЕМ ПЛАНЕТУ ОТ ПЛАСТИКА ВМЕСТЕ!</h2>

      <button class="tagline__btn btn btn--white btn-cooperation">
        СОТРУДНИЧЕСТВО
      </button>
    </div>
  </div>
</section>
